body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

.header__wrapper {
  text-align: center;
}

.content__wrapper {
  text-align: left;
}

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.avatar {
  width: 250px;
}

.list {
  padding-left: 0;
  list-style: none;
}

.link {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.ico-github {
  width: 50px;
  margin-right: 15px;
}

.rs-school-js {
  width: 70px;
  margin-right: 15px;
}
